@model IEnumerable<AmirProject.Models.Animals>
@{
    ViewData["Title"] = "Index";
}
@foreach (var pet in Model)
{
    <div class="card text-center">
        <div class="card-header">
            Featured
        </div>
        <div class="card-body">
            <h5 class="card-title">@pet.Name <span class="badge badge-secondary">Hot</span></h5>
            <p class="card-text">@pet.Desctiption</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-muted">
            Amount of Comments: @pet.Comments.Count()
        </div>
    </div>
}
<blockquote class="blockquote text-center">
    <p class="mb-0">a bird in the hand is worth two in the bush</p>
    <footer class="blockquote-footer">All Rights Reserved.<cite title="Source Title">Pythagorean</cite></footer>
</blockquote>